<% flash.each do |key, value| %>
<div data-controller="flash" class="relative top-[80px] flex flex-row justify-center <%= text(key) %> items-center gap-2 font-body text-center font-bold shadow hover:shadow-lg transition:ease-in duration-300 ">
  <%= value %>
  <button data-action="flash#dismiss">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>

</div>
<% end %>