<div class="relative top-20">

  <h1 class="text-3xl font-bold text-center mb-6">Editing batch</h1>

  <%= render "form", batch: @batch %>

  <br>

  <div class="grid place-items-center gap-4">
    <%= link_to "Show this batch", @batch %> |
    <%= link_to "Back to batches", batches_path %>
  </div>
</div>
