<div class="relative top-20">
  <h1 class="text-2xl font-bold text-center mb-6">New Administration</h1>

  <div class="max-w-lg mx-auto">
    <%= render "form", administration: @administration %>
  </div>
</div>

